    <section class="footer">
        <h4>About Us</h4>
        <p>We provide high-quality resources and support for engineering students, helping them succeed in their studies and careers.</p>
        <div class="icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
        <p>Contact us: <a href="mailto:theengineeringfactory1@gmail.com">theengineeringfactory1@gmail.com</a></p>
    </section>